* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.04rem;
  font-family: 'Futura', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ebecf0;
}

h1,
h3 {
  text-align: center;
  color: #444;
  font-family: 'Futura', 'Segoe UI', sans-serif;
  margin-top: 1em;
}

table {
  border: 3px solid black;
  border-radius: 10px;
  border-spacing: 0;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 0.2) !important;
  margin: 2em auto;
}
th {
  padding: 1rem 3rem;
  text-align: center;
  border-bottom: 2px solid rgb(0, 0, 0);
  -webkit-user-select: none;
  font-family: 'Futura', sans-serif;
}
td {
  padding: 1rem 3rem;
  text-align: center;
  border-bottom: 2px solid rgba(163, 163, 163, 0.158);
  -webkit-user-select: none;
  font-family: 'Futura', sans-serif;
}

tr {
  transition: all 0.25s ease;
}
tr:hover {
  background-color: rgba(163, 163, 163, 0.158);
  color: black;
}
tr:nth-of-type(1):hover {
  background-color: var(--back-color);
}
th {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
tr:nth-of-type(7) > td {
  border-bottom: none;
}
tr:nth-of-type(7) > td:nth-of-type(3) {
  border-bottom-right-radius: 7px;
}
tr:nth-of-type(7) > td:nth-of-type(1) {
  border-bottom-left-radius: 7px;
}

.active {
  background-color: rgb(161, 43, 110);
  color: white;
}

.active:hover {
  background-color: rgb(161, 43, 110);
  color: white;
}

.tomorrow {
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  border: none;
  padding: 10px 30px;
  border-radius: 40px;
  color: #6d7587;
  border: 2px solid transparent;
  background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
  box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17),
    1px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.pressed {
  border: 2px solid #fafafa;
  box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff,
    inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12),
    inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07),
    1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  color: rgb(161, 43, 110);
}

.notifications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin: 1.5rem auto;
}
.n {
  width: 199px;
  margin: 0 2em;
}

iframe {
  margin: 2em auto;
}
